<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand text-success" href="/urls">TinyApp</a>
    <button class="navbar-toggler color-success" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expand="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-success" href="/urls">My URLs</a>
        <a class="nav-item nav-link text-success" href="/urls/new">Create New URL</a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if (user) { %>
          <a class="nav-item nav-link text-success" href="/urls">Logged in as: <%= user.email %>!</a>
          <form class="form-inline" action="/logout" method="GET" style="margin-right:1em">
          <button type="submit" class="btn btn-outline-success">Logout</button>
          </form>
        <% } else { %>
          <div class="nav-bar nav-link"></div>
          <a class="nav-item nav-link text-success" href="/register/">Register</a>
          <a class="nav-item nav-link text-success" href="/login/">Login</a>
        <% } %>
      </div>
    </div>
  </nav>
</header>